body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    position: relative;
    display: grid;
    place-items: center;
}


.hero {
    background-image: url(https://www.bmw.ee/content/dam/bmw/common/all-models/8-series/gran-coupe/2022/onepager/bmw-8-series-gran-coupe-onepager-sp-desktop.jpg);
    background-size: cover;
	background-position: center;
	display: table;
	width: 100%;
	height: 60vh;
	position: relative;
	top: 0;
    margin-bottom: 100px;
}

.hero h1{
    margin-top: 250px;
    margin-left: 300px;
    font-size: 100px;
    color: white;
    font-family: josefin slab;
}

.intro {
    text-align: center;
    margin: 20px 0;
    margin: 50px;
}

.intro button{
    border-radius: 5rem;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
    display: flex;
    gap: 15rem;
}


.cta-buttons button {
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-buttons button:hover {
    background-color: #000;
    color: #fff;
}

.my-bmw, .offers {
    margin: 20px;
    text-align: center;
    
    display: flex;
}
.offers {
    margin-bottom: 80px;
}

.my-bmw img, .offers img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 40px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}

.offers button{
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-bmw button{
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-bmw button:hover {
    background-color: #000;
    color: #fff;
}

.offers button:hover {
    background-color: skyblue;
    color: #fff;
}


.offers {
    margin-top: 200px;
}


.my-bmw img{
    flex-direction: row-reverse;
    
}

.my-bmw{
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.offers{
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container{
    background-color: gainsboro;
    background-position: center;

}

.bmw-pakkumised{
    background-color: black;
    width: 3400px;
    height: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.bmw-pakkumised h2{
    color: white;
    font-size: 40px;
}
.bmw-pakkumised p{
    color: white;
    font-size: 20px;
}

.bmw-pakkumised button{
    color: white;
    background-color: blue;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 1rem;
}

.my-bmw-rakendus{
    background-image: url("https://bmw.scene7.com/is/image/BMW/g45_ice_stage_dsk_sl?qlt=80&wid=1024&fmt=webp");
    background-size: cover;
    width: 3400px;
    height: 400px;
    margin-bottom: 50px;
    padding-bottom: 470px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px ;
}

.my-bmw-rakendus h2 {
    margin-right: 1700px;
    margin-top:350px ;
    color: white;
    font-size: 50px;
}

.my-bmw-rakendus  p {
    margin-right: 1700px;
    margin-top: 20px;
    color: white;
    font-size: 20px;

}

.my-bmw-rakendus button{
    margin-right: 1700px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    border-radius: 1rem;
    background-color: blue

}

.bmw-online-store{
    background-color: silver;
    border-radius: 1rem;
    padding: 20px;
    color: black;
}
.bmw-online-store p{
   font-size: 30px;
}
.bmw-online-store button{
    font-size: 20px;
    border-radius: 1rem;
    background-color: blue;
    color: white;
}
.Otsi{
    background-color: silver;
    border-radius: 1rem;
    padding: 20px;
    color: black;

}
.Otsi p{
    font-size: 30px;
}
.Otsi button{
    font-size: 20px;
    background-color: blue;
    color: white;
}
.proovisõit{
    background-color: silver;
    border-radius: 1rem;
    padding: 20px;
    color: black;
}
.proovisõit p {
   font-size: 30px;
}
.proovisõit button{
    font-size: 20px;
    background-color: blue;
    color: white;
}
.broneeri-aeg{
    background-color: silver;
    border-radius: 1rem;
    padding: 20px;
    color: black;
}
.broneeri-aeg p{
   
    font-size: 30px;
}
.broneeri-aeg button{
    font-size: 20px;
    background-color: blue;
    color: white;
}